Warning: catboost is not installed.
Warning: XlsxWriter is not installed.
numpy==2.0.2
pandas==2.2.2
scipy==1.16.3
scikit-learn==1.6.1
imbalanced-learn==0.14.2
statsmodels==0.14.6
matplotlib==3.10.0
shap==0.52.0
xgboost==3.3.0
lightgbm==4.6.0
openpyxl==3.1.5

Saved to: /content/requirements.txt
